@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
}

h1,
h3 {
    color: #606d5f;
}

h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
}

p,
li,
a,
button {
    color: #888888;
}

p {
    font-size: 1.8rem;
    line-height: 150%;
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
    cursor: pointer;
}

li {
    list-style: none;
}

button {
    padding: 1rem 3rem;
    border: none;
    border-radius: 2rem;
    outline: none;
    line-height: 3.6rem;
    text-transform: capitalize;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
}

/* ------------ Header Section ------------- */
header {
    padding: 0 5rem;
    width: 100%;
}

header nav {
    display: flex;
    justify-content: space-between;
    height: 12rem;
    align-items: center;
}

header nav .logo h1 {
    font-size: 3rem;
}

header nav ul {
    display: flex;
}

header nav ul a {
    margin-left: 4rem;
}

header nav ul a li {
    font-size: 2rem;
    line-height: 3.6rem;
    text-transform: capitalize;
}

header nav ul a li:hover {
    transition: all 0.2s;
    color: #4b709e;
}

/* ----------- Hero Section ----------- */
.hero-section {
    padding: 0 5rem;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}

/* Hero Section Left Side */
.hero-section .hero-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-section .hero-content h1 {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 3rem;
    text-transform: capitalize;
}

.hero-section .hero-content p {
    margin-bottom: 3rem;
}

/* Hero Section Right Side */
.hero-section .hero-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section .hero-image img {
    width: 100%;
    border-radius: 2rem;
}

/* Products Section */
.products-section {
    padding: 0 5rem;
    margin-bottom: 5rem;
}

.products-section h1 {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 4rem;
    text-align: center;
    text-transform: capitalize;
}

.products-section .products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    justify-items: center;
}

/* Product Card */
.products-section .products .product-card {
    width: 25rem;
    height: 25rem;
    background-color: #efefefef;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    margin-bottom: 2rem;
}

.products-section .products .product-card img {
    width: 80%;
    border-radius: 50%;
}

.products-section .products .product-card .buy-now-btn {
    background-color: #fff;
    border: 2px solid #efefefef;
    border-radius: 1rem;
    padding: 1rem 2rem;
    line-height: 1rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 700;
}

/*  Services Section  */
.services-section {
    padding: 0 5rem;
    margin-bottom: 5rem;
}

.services-section h1 {
    font-size: 5rem;
    line-height: 5rem;
    margin-bottom: 4rem;
    text-align: center;
    text-transform: capitalize;
}

.services-section .services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    justify-items: center;
}

.services-section .service {
    width: 25rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.services-section .service img {
    width: 80%;
}

.services-section .service p {
    text-align: center;
}

/* Footer Section */
footer {
    height: 5rem;
    background-color: #efefefef;
    display: flex;
    justify-content: center;
    align-items: center;
}